<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667426968552-ha0c2csd917c4oae4u9d3hko8kju81a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667426968552-ha0c2csd917c4oae4u9d3hko8kju81a0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>667426968552-0jgl692b5ftbsprhmd026sgia0nqrvki.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD34-e_WvqywOcQczWZcaMO_65_MeV9mM4</string>
	<key>GCM_SENDER_ID</key>
	<string>667426968552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SmartChat</string>
	<key>PROJECT_ID</key>
	<string>smartchat-45453</string>
	<key>STORAGE_BUCKET</key>
	<string>smartchat-45453.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667426968552:ios:46b66413ccd95e9e6d8a5d</string>
	<key>DATABASE_URL</key>
	<string>https://smartchat-45453-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>